!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Paint<span id='lite'>Lite</span>
    %input#color{type:'text', placeholder:'Create your color.', autofocus:true}
    %input#add_color{type:'button', value:'Add Color'}
    %span#brush
    #box_container
      #colors
      .clear
    %input#amount{type:'text', placeholder:'Type in number for canvas size (e,g 5000).'}
    %input#add_box{type:'button', value:'Add Boxes!'}
    #boxes
      .clear


    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
