@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

html {
  background-color: #CBE8E8;
  color: #788A89;
}

.box {
  float: left;
  width: 35px;
  height: 35px;
  margin: 10px;
  border: 2px solid #fff;
  background-color: white;
  border-radius: 5px;
}

.canvas {
  float: left;
  width: 5px;
  height: 5px;
  background-color: white;
  margin: 0;
}

input {
  margin: 30px 10px;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 75px;
  margin: 0px;
}

#lite {
  font-weight: 200;
}

.clear {
  clear: both;
}

#boxes {
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid #BBD6D6;
}

#box_container {
  width: 900px;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 5px;
}

#brush {
  border: 1px dashed #fff;
  padding: 3px 25px;
  margin-left: 15px;
}

#colors {
  width: 850px;
  margin: auto;
}

#color, #amount {
  background-color: #eee;
  border: 1px solid #BBD6D6;
  width: 275px;
}

#add_color, #add_box {
  width: 100px;
  color: #fff;
  border: none;
  background-color: #EDB25A;
}
