@import url(http://fonts.googleapis.com/css?family=Nixie+One);

body {
  background-color: #5C584B;
  font-family: 'Nixie One', cursive;
  font-weight: 300;
  color: #fff;
}

#container {
  width: 950px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

input {
  padding: 5px;
  margin: 5px;
}

header > h1 {
  text-align: center;
  color: #1FCCB7;
  font-size: 40px;
}

th {
  padding: 15px;
  font-size: 20px;
  background-color: #24B2A1;
}

tr {
  background-color: #57F2D9;
}

td {
  font-weight: bold;
}

td > img {
  text-align: center;
  margin-left: 3px;
  margin-right: 0;
}

.name, .food {
  font-size: 18px;
  text-align: center;
  color: #B11BB2;
}