extends ../template/layout

block content
  .row
    .small-12.columns
      h1(style='text-align: center;') yo dawg.
  .row
    .small-12.columns
      h4(style='text-align: center;') mix it up.
  .row
    .small-12.columns
      #cat-dj
        img(src='/images/tumblr_lw6997pgXD1qdbghdo1_400.gif' style='text-align: center;')
  .row
    .small-12.columns
      footer
        p: a(href='http://media.photobucket.com/user/Sheena_00/media/djcats.gif.html?filters%5bterm%5d=cat%20dj&filters%5bprimary%5d=images' target='_blank') Cat dj image by Sheena_00 on Photobucket

