// #map-canvas
// {
//   height: 250px;
//   width: 250px;
//   border: 1px solid black;
// }


#products {
  margin: 0 auto;
}

.product-image {
  height: 60px;
  width: 100px;
}

.hidden {
  visibility: hidden;
}