doctype 5
html
  head
    title Cats!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Cats Rocks!!!
    p Welcome to Node Cats
    img(src='http://images5.fanpop.com/image/photos/32000000/Cat-cats-32040775-1440-900.jpg')