doctype 5
html
  head
    title Dogs!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Dogs Rocks!!!
    p Yo Dawg - Welcome to Node Dogs
    img(src='http://www.petfinder.com/wp-content/uploads/2012/11/122163343-conditioning-dog-loud-noises-632x475.jpg')