.row
  .small-12.columns
    %h1 Mapp.it
#buttons
  .row
    .small-3.columns
      %input#start.button.small.radius{type:'button', value:'Start'}
    .small-3.columns
      %input#stop.button.small.radius.alert{type:'button', value:'Stop'}
    .small-3.columns
      %input#name{type:'text', placeholder:'Name of Place'}
    .small-3.columns
      %input#add_name.button.small.radius{type:'button', value:'Add Favorite'}
#map-canvas