.row
  .small-12.columns
    %h1 Mapp.it
#map-canvas
#buttons
  .row
    .small-12.columns
      %input#start.button.small.radius{type:'button', value:'Start'}
  .row
    .small-12.columns
      %input#stop.button.small.radius.alert{type:'button', value:'Stop'}
  .row
    .small-12.columns
      %input#name{type:'text', placeholder:'Name of Place'}
  .row
    .small-12.columns
      %input#add_name.button.small.radius{type:'button', value:'Add Favorite'}
  .row
    .small-12.columns
      %input#refresh.button.small.radius.alert{type:'button', value:'Refresh Map'}
