!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Pigl.it
    %input#original{type:'text', placeholder:'Example, text, here'}
    %input#convert{type:'button', value:'Pigl It!'}
    %input#converted{type:'text', readonly:true, placeholder:'ere-hay, ext-tay, xample-Eay'}

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
