#header
  h1(style='text-align: center;') mix<span id='master'>master</span> deluxe
  .row
    .small-1.columns
    .small-2.columns.small-offset-1
      p: a(href='/') home
    .small-2.columns
      p: a(href='/songs') mixer
    .small-2.columns
      p: a(href='/songs/new') new mix
    .small-2.columns
      p: a(href='/artists') artists
    .small-2.columns
      p: a(href='/artists/new') new artist
    .small-1.columns

